.fundo-branco {
	background-color: #FFF;
}

.fundo-verde-escuro {
	background-color: #EB9532;
}

.fundo-verde-claro {
	background-color: #F4B350;
}

a {
color: #FFF;
text-decoration: none;
}

body {
	margin: 0;
}
.upper-menu {
	text-align: right;
	height: 50px;
}

.navigation {
	height: 100px;
}
.navigation ul {
	text-align: right;
	padding: 33px 200px 33px 40px;
	margin: 0;
}

.fonte-nav{
	font-size: 30px;
	color: #FFF;
}
.navigation li {
	display: inline;
	padding: 0 20px;
}

#content {
	position: relative;
	width: 920px;
	height: 2000px;
	margin: 0 auto;
}

#imagem {
	display: block;
	height: 400px;
	width: 720px;
	margin: 0 auto;
	border-radius: 10px;
}

.description {
	padding: 20px;
}