
.fundo-branco {
	background-color: #FFF5E6;
}

.fundo-laranja-claro {
	background-color: #FDE3A7;
}

.fundo-laranja {
	background-color: #F4B350;

}

a {
	text-decoration: none;
}

body {
	margin: 0;
}

.desktop-hide {
	display: none;
}

.upper-menu {
	text-align: right;
	height: 50px;
}

.menu-button{
	position: fixed;
	z-index: 3;
	top: 30px;
	right: 30px;
	transition: .3s all ease-in-out;
	height: 40px;
	width: 80px;

}

.button{
	border-style: solid;
	border-color: rgba(255,255,255,.7);
	color: rgba(255,255,255,.7);
	background-color: #F9BF3B;
}

.navigation {
	height:50px;
}
.navigation ul {
	text-align: right;
	padding: 10px 200px 10px 40px;
	margin: 0;
}

.fonte-nav{
	font-size: 24px;
	color: #FFF;
	font-family: 'Fira Sans', sans-serif;
}

.text-font{
	font-size: 15px;
	color: #000;
	font-family: 'Fira Sans', sans-serif;
}
.navigation li {
	display: inline;
	padding: 0 20px;
}

#content {
	position: relative;
	width: 920px;
	height: 100%;
	margin: 0 auto;
}

#imagem {
	display: block;
	height: 400px;
	width: 720px;
	margin: 0 auto;
	border-radius: 10px;
}

.description {
	padding: 20px;
}

.quantity {
	width: 60px;
}

#meuprato {
    width: 400px;
    margin: auto;
}

#meuprato li{
	padding: 2px 0
}

.hide {
	display: none!important;
}

.bold {
	font-weight: bold;
}

@media only screen and (max-width: 480px) {

	#title {
		padding-left: 20px;
	}
	#content {
		width: 100%;
		position: absolute;
	}
	.description {
		width: 300px;
		margin: 30px auto;
		padding: 0;
	}

	.title-font {
		font-size: 40px;
		color: #000;
		font-family: 'Fira Sans', sans-serif;
	}
	.text-font{
		font-size: 18px;
		color: #000;
		font-family: 'Fira Sans', sans-serif;
	}

	.desktop-hide {
		display: block;
	}

	.mobile-hide {
		display: none;
	}

	#menu {
		padding-top: 0px;
		display: none;
		top:260px;
		width: 100%;
		height: 200px;
		transition: none;
		position: initial;
		background-color: #F9BF3B;
	}

	#menu ul {
		list-style: none;
		padding:20px;
		margin: 0;
	}

	.menu-font {
		font-size: 20px;
		color: #000;
		font-family: 'Fira Sans', sans-serif;
		font-weight: bold;
	}

	.menu-font a {
		color: inherit;
	}

	.menu-button{
		position: absolute;
		width: 100px;
	}

	.menu-button i {
		padding-right: 6px;
	}

	.menu-active{
		left: 0!important;
	}

	.menu-expanded{
		display: block!important;
		width: 100%;
		position: relative;
	}


	.button-menu-open {
		display: absolute;
	}

	#menu .nav {
		width: 80%;
	}

	#menu .nav ul{
		width: 100%;
	}

	.baige-line {
		border-color: #FDE3A7;
		border-width: 1px;
		border-style: solid;
	}

	/*FOODLIST.HTML*/

	.foods {
		padding-left: 5px;
	}

	.food {
		list-style: none;
		padding: 5px 0;

	}
	.food a {
		color: black;
		font-size: 20px;
	}

	/*NUTRITION*/
	.quantity {
		height: 20px;
		position: absolute;
	}
	.add-to-plate {
		text-align: center;
		width: 100%;
		height: 40px;
		display: block;
		margin: 20px auto;
	}

	#foodname {
		font-size: 30px;
	}

}