{% load static %}

<!doctype html>

<head>
	<meta charset="utf-8">
	<title>NutriZone, sua zona de nutrição</title>
	<meta name="viewport" content = "width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'template.css' %}" type="text/css" charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
</head>

<body class="fundo-laranja-claro">
	
	<header >
<!-- 		<div>
			<div class="upper-menu fundo-branco">
				Sua conta
			</div>
			<nav class="navigation fundo-laranja fonte-nav">
				<ul>
					<li><a href="{% url 'index' %}">SOBRE</a></li>
					<li><a href="{% url 'foodlist' %}">ALIMENTOS</a></li>
					<li><a href="{% url 'meal' %}">MEU PRATO</a></li>
					<li><a href="#">BUSCAR</a></li>
				</ul>	
			</nav>
		</div>
 -->
 		<div id="title">
 			<h1 class="title-font">NutriZONE</h1>
 		</div>
		<div>
			<button class="menu-button menu-font"><i id='menu-open' class="fa fa-bars" aria-hidden="true"></i><i id='menu-close' class="fa fa-times hide" aria-hidden="true"></i>MENU</button>
		</div>

		<div id="menu">
			<nav class="nav">
				<ul class="menu-font">
					<li><a href="{% url 'index' %}">SOBRE</a></li>
					<hr class="black-line">
					<li><a href="{% url 'foodlist' %}">ALIMENTOS</a></li>
					<hr class="black-line">
					<li><a href="{% url 'meal' %}">MEU PRATO</a></li>
					<hr class="black-line">
					<li><a href="#">BUSCAR</a></li>

				</ul>
			</nav>
		</div>

	</header>
	<section id="content" class="fundo-branco">
		<div id="alimento">
			<div class="description fonte-texto">
				{% block content %} {% endblock %}
			</div>
		</div>
	</section>
</body>

<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/effects.js' %}"></script>
