{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'foodlist.css' %}" type="text/css" charset="utf-8">
{% endblock css %}

{% block content %}
<div class="foodlist">
    
    {% regroup foodlist|dictsort:"index" by index as foodlist %}
	
    <h3 class="subtitle">Escolha o alimento para ver o valor nutricional:</h3>

    <p class="letter-index">
        {% for index in foodlist %}
        <a class="letter" href="#" id="{{index.grouper}}_link">{{index.grouper}}</a>
        <span> - </span>
        {% endfor %}
    </p>
    

    <ul class="foods">
	{% for index in foodlist %}
        <li id="{{index.grouper}}" class="grouper"> {{index.grouper}}
            <ul>
                {% for food in index.list|dictsort:"brname" %}
                <li class="food text-font"><a href="./nutrition/{{food.brname}}">{{food.brname}}</a></li>
                {% endfor %}
            </ul>
        </li>
	{% endfor %}
    </ul>
</div>
{% endblock %}

{% block script %}

<script>

{% regroup foodlist|dictsort:"index" by index as foodlist %}

{% for index in foodlist %}
$("#{{index.grouper}}_link").click(function() {
    $('html, body').animate({
        scrollTop: $("#{{index.grouper}}").offset().top
    }, 200);
});
{% endfor %}

$(".letter-index :last-child").remove();

</script>


{% endblock %}