{% extends 'base.html' %}

{% block content %}

	<div class="subtitle">
		<h2>SEU PRATO</h2>
	</div>

	<div id="meuprato">
		{%if meal_phrase%}
		<p>No seu prato há: 
		<ul>
			{% for food, phrase in meal_phrase.items %}
			<li>{{food}}{{phrase}} <form style='display:inline-block' action="#" method="post">{% csrf_token %} <button type="submit" class="btn fonte-texto" value='{{food}}' name="remove">Remover</button></form></li> 
			{% endfor %}
		</ul>

		<p>Total de calorias: {{totalenergy}}kcal</p>
		<p>Total de gordura: {{totalfat}}g</p>
		<p>Total de açúcares: {{totalsugars}}g </p>

		<form action="#" method="post">
			{% csrf_token %}
			<input type="submit" class="btn fonte-texto" value="Limpar prato" name="clearbutton">
		</form>
		{% else %}
		<p class="text-font">Seu prato está vazio.</p>
		{% endif %}
	</div>

{% endblock %}