{% extends 'base.html' %}

{% block content %}

	<p>Nome: {{ food.name }}</p>
	<p>Cada 100g de {{ food.name|lower }} contém:</p>
	<p>Calorias: {{energy.value}}{{energy.unit}}</p> 
	{% if sugars %} <p>Açúcares: {{sugars.value}}{{sugars.unit}} </p>{% endif %}
	<p>Gordura: {{fat.value}}{{fat.unit}}</p>
	<form action="#" method="post">
		{% csrf_token %}		
		Quantidade (g): <input type="number" class="quantity" size="20" name="quantity">
		<input type="submit" class="btn fonte-texto" value="Adicionar ao prato" name="mybtn">
	</form>

	<p>{{meal}} </p>
{% endblock %}